@tailwind base;
@tailwind components;
@tailwind utilities;

[data-theme='empress'] {
    --p: 46 100% 74%;
    --pf: 46 100% 62%;
    --pc: 0 2% 14%;
    --s: 33 50% 60%;
    --sf: 33 60% 31%;
    --sc: 0 0% 100%;
    --a: 30 68% 67%;
    --af: 30 76% 56%;
    --ac: 0 0% 100%;
    --n: 0 3% 35%;
    --nf: 0 3% 15%;
    --nc: 0 7% 94%;
    --b1: 34 14% 21%;
    --b2: 33 14% 15%;
    --b3: 30 15% 12%;
    --bc: 34 100% 89%;
    --in: 207 90% 54%;
    --su: 174 100% 29%;
    --wa: 36 100% 50%;
    --er: 14 100% 57%;
}

/* 
  --p: 147 65% 37%;
  --pf: 144 70% 22%;
*/
[data-theme="darkgreen"] {
    --p: 138 21% 43%;
    --pf: 138 20% 33%;
    --pc: 0 0% 100%;
    --s: 97 37% 93%;
    --sf: 97 36% 82%;
    --sc: 96 33% 15%;
    --a: 0 69% 94%;
    --af: 0 70% 85%;
    --ac: 0 22% 16%;
    --n: 0 4% 35%;
    --nf: 0 4% 16%;
    --nc: 0 4% 91%;
    --b1: 0 3% 27%;
    --b2: 0 3% 19%;
    --b3: 0 3% 10%;
    --bc: 0 4% 95%;
    --rounded-box: 1rem;
    --rounded-btn: 0.5rem;
    --rounded-badge: 9999px;
}
